--extra-index-url https://download.pytorch.org
torch
sentence-transformers
streamlit
pandas
requests
python-dotenv
beautifulsoup4
selenium
pdfplumber
pillow
pytesseract
sqlmodel
psycopg2-binary
redis
celery
numpy
fastapi
uvicorn
python-multipart